/* Global styling */
body {
    background-color: #f4f4ef;
    /* color: #20232a; */
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/*********************/


/* Navbar styling */
.navbar-inverse {
    background-color: #20232a;
}

.navbar-brand {
    font-size: 22px;
}

li > *, .navbar-brand {
    color: white !important;
}

/* Icons on Navbar */
.navIcon {
    padding: 15px 20px;
    font-size: 20px;
}

#menuLabel {
    font-size: 20px;
}

.navbar-brand {
    padding-left: 30px;
    padding-right: 30px;
}

nav ul {
    transition: 0.5s;
}

li:hover, span.myNav:hover {
    background-color: #ababce !important;
    color: #20232a !important;
    cursor: pointer !important;
}

.handler {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    padding: 10px 20px;
    background-color: black;
}

a.navLabel {
    color: white;
    text-decoration: none;
    display: none;
}

@media screen and (max-width: 767px) {
    nav ul {
        max-height: 0;
        overflow: hidden;
    }
    .showing {
        display: block;
        max-height: 20em;
    }
    .navbar-header {
        padding: 5px !important;
    }
    .myNav {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .handler {
        display: block;
    }
    a.navLabel {
        display: inline;
    }
    #myProfile {
        margin-top: 110px !important;
    }
}

/*********************/
/*Commonly used */
.myBoxShadow {
    -webkit-box-shadow: 2px 2px 10px 2px rgba(184,182,184,1);
    -moz-box-shadow: 2px 2px 10px 2px rgba(184,182,184,1);
    box-shadow: 1px 1px 6px 1px rgba(184,182,184,1);
}


/*********************/

/*Blocks styling */

.block{
    margin: 20px 10px 0;
    background-color: white;
    padding: 5px 20px 20px 20px;
    box-sizing: border-box;
}

/*Unique block: Accordion */
.my-accordion {
    margin: 20px 10px 0;
    box-sizing: border-box;
}

/* First block of every column */
.row:first-child {
    margin-top: 50px !important;
}

.headline {
    margin: 10px 0 20px;
}

/*********************/


/*Now styling for each particular block */
/*My Profile */
#myProfile {
    color: #20232a;
}

img#profile-img {
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profileHeadline {
    text-align: center;
}

a#extLink {
    color: #20232a;
    text-decoration: none !important;
}

a#extLink:hover {
    color: #acacbe !important;
}

div#personalInfo {
    padding-left: 15px;
    line-height: 2.2;
    font-size: 15px;
}

.info > .glyphicon {
    padding-right: 15px ;
}

/***********/

/*Interests */
.interestItem {
    padding: 3px 8px;
    margin: 1px;
    color: white;
}

.mostFav {
    background-color: #a01d26;
}

.reallyFav {
    background-color: #BA262E;
}

.okayFav {
    background-color: #C93B42;
}

.kindaFav {
    background-color: #DB646B;
}

.maybeFav {
    background-color: #C2757A;
}

.acc-header {
    background-color: #acacbe;
}

.acc-header h3.acc-block-title {
    padding: 10px 20px;
    cursor: pointer;
}

.acc-content {
    padding: 20px;
    display: none;
    /* transition: height 1s; */
}

.my-accordion {
    transition: all 1s;
}

/***********/

/*Post form */
#formPost {
    color: #20232a;
}

input#someText {
    width: 100%;
    font-size: 15px;
    height: 40px;
    padding: 10px;
    margin: 10px 0 15px; /* Top & bottom */
}

.btn {
    color: white !important;
    border-radius: 0;
    outline: none !important;
    border: none;
    padding: 10px 15px !important;
}

#postBtn, #tweetBtn {
    background-color: #20232a;
}

/*or resetBtn */
[type=reset], #likeBtn {
    background-color: #a01d26;
}

.btn:hover {
    background-color: #acacbe !important;
    color: #20232a !important;
}

/***********/

/*Post Blocks */
.post {
    box-sizing: border-box;
}

.postAuthor-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.post-time {
    font-size: 15px;
    padding-top: 5px;
    float: right;
    color: #acacbe;
}

.post__highlight {
    float: right;
    margin: -15px 30px !important;
    color: white;
    background-color: #a01d26;
    padding: 5px;
}

.post__highlight-star {
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.postAuthor-info {
    display: block;
    box-sizing: border-box;
}

.author-name {
    padding-top: 5px;
}

.author-email {
    color: #acacbe;
    cursor: pointer;
    font-size: 15px;
    max-width: 400px;
}

.post__content__text {
    font-size: 15px;
}

.post__content__photo {
    opacity: 0.9;
    max-width: 49%;
    max-height: 100%;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #acacbe;
}

.post__content__photo:hover {
    opacity: 1.0;
}

/***********/
#news {
    height: 300px;
    box-sizing: border-box;
}