body{
    background-color: #f4f4ef;
    color: #20232a;
}

html > *{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-inverse {
    background-color: #20232a;
}

li > *, .navbar-brand {
    color: white !important;
}

/* Icons on Navbar */
li > .glyphicon {
    padding: 15px 20px;
    font-size: 20px;
}

.navbar-brand {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

li:hover, .myNav:hover, a.navbar-brand:hover {
    background-color: #ababce !important;
    color: #20232a !important;
    cursor: pointer !important;
}

.handle {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    visibility: none;
    padding: 15px 20px;
    background-color: black;
}

@media screen and (max-width: 768px) {
    .myNav {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .handle {
        /* visibility: visible; */
        display: block;
    }
}

.row > .block{
    margin-top: 20px;
    -webkit-box-shadow: 2px 2px 10px 2px rgba(184,182,184,1);
    -moz-box-shadow: 2px 2px 10px 2px rgba(184,182,184,1);
    box-shadow: 1px 1px 6px 1px rgba(184,182,184,1);
    background-color: white;
    padding: 5px 20px 20px 20px;
}

/* First block of every column */
.row:first-child {
    margin-top: 60px !important;
}

#myProfile {
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

img#profileImg {
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profileHeadline {
    text-align: center;
}

a#extLink {
    color: #20232a !important;
    text-decoration: none !important;
}

a#extLink:hover {
    color: #acacbe !important;
}

div#personalInfo {
    padding-left: 15px;
    line-height: 2.2;
    font-size: 15px;
}

.info > .glyphicon {
    padding-right: 15px !important;
}

#interests {
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    box-sizing: border-box;
}

#formPost {
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

input#someText {
    width: 100%;
    font-size: 15px;
    height: 40px;
    padding: 10px;
    margin: 10px 0 15px; /* Top & bottom */
}

.btn {
    color: white !important;
    border-radius: 0;
    outline: none !important;
    border: none;
    padding: 10px 15px !important;
}

[type=button] {
    background-color: #20232a;
}

[type=reset] {
    background-color: #a01d26;
}

/* .btn:hover {
    background-color: #a01d26 !important;
    color: inherit;
} */

#feed {
    margin-left: 10px;
    margin-right: 10px;
    height: 400px;
    box-sizing: border-box;
}

#news {
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    box-sizing: border-box;
}